<div class="dash row">
  <div class="dash-side col-md-12 col-lg-4">
    <img src="assets/logo.jpg" alt="Law logo" class="dash-logo">
  </div>
  <div class="dash-heading col-md-12 col-lg-8">
    <h1>María Victoria Alegría Cáceres</h1>
    <h3>M.P. 1-38488</h3>
    <div class="dash-info">
      <span class="dash-label">
        Abogada
      </span>  
    </div>
    <div class="dash-divider"></div>
    <div class="dash-contact">
      <div class="title">
        Contacto
      </div>
      <div class="dash-info">
        <a href="mailto:mvictoria.alegriacaceres@gmail.com?Subject=Consulta%20Laboral">mvictoria.alegriacaceres@gmail.com</a>
      </div>
      <div class="dash-info">
        <a href='https://wa.me/5493512144934' target='_blank'>+54 9 351214-4934</a>
      </div>
      <div class="dash-info">
        Bv Illia 336, piso 9 Dpto. C
      </div>
    </div>
  </div>
</div>