<div class="dash row">
  <div class="dash-side col-md-12 col-lg-4">
    <img src="assets/logo.jpg" alt="Law logo" class="dash-logo">
  </div>
  <div class="dash-heading col-md-12 col-lg-8">
    <h1>Dra. Maria Victoria Alegría Cáceres</h1>
    <h3>Abogada UNC - Laboral</h3>
    <div class="dash-info">
      <span class="dash-label">
        Matrícula:
      </span>  1-38488
    </div>
    <div class="dash-info">
      <span class="dash-label">
        Correo:
      </span> 
      mvictoria.alegriacaceres@gmail.com
    </div>
    <div class="dash-info">
      <span class="dash-label">
        Nro. Telefónico:
      </span>
      +54 9 3512 14-4934
    </div>
    <div class="dash-info">
      <span class="dash-label">
        Estudio:
      </span>
      Bv ilia 336, piso 9 Dpto. C
    </div>
  </div>
</div>