/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: rgba($color: #ffffff, $alpha: 0.87);
    letter-spacing: 2px;
}